div.hidden {
  display: none;
}

div.active {
  border: 5px solid red;
}

img.bigcoin {
  width: 50px;
}

#smallcoin {
  width: 100px;
}

#calls-coin {
  width: 100px;
}

#flip-coin {
  width: 100px;
}
